<!doctype html>
<html>
  <head>
    <title>Book a class with <%=gymName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Book a class with <%=gymName%></h1>
    <div class="menu">
      <button class="menu_button">Menu</button>
      <div class="menu-content">
        <a href="/">Home</a>
        <a href="about">About Us</a>
        <a href="weather">Check the weather!</a>   
        <a href="classes">See whats on this week</a>
        <a href="search">Find a class</a>
        <a href="bookings">Book a class</a>  
        <a href="profile">Manage account</a>
        <a href="logout">Logout</a>
      </div>
    </div>
    <form method="POST" action="/booked">
      <p>First Name: <input type="text" name="first" /></p>
      <p>Last Name: <input type="text" name="last" /></p>
      <p>Select a Class:
          <select name="selectedClassId">
              <% gymClasses.forEach(function(gymClass) { %>
                  <option value="<%= gymClass.classes_id %>">
                      <%= gymClass.name %> - <%= gymClass.day %> - <%= gymClass.start %> (Spaces Left: <%= gymClass.spaces %>)
                  </option>
              <% }) %>
          </select>
      </p>
      <input type="submit" value="Book Class" />
  </form>
  </body>
</html>