<!doctype html>
<html>
  <head>
    <title>Book a class with <%=gymName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Book a class with <%=gymName%></h1>
    <p class="login"><a href="/">Home</a></p>
    <form method="POST" action="/booked">
      <p>First Name: <input type="text" name="first" /></p>
      <p>Last Name: <input type="text" name="last" /></p>
      <p>Select a Class:
          <select name="selectedClassId">
              <% gymClasses.forEach(function(gymClass) { %>
                  <option value="<%= gymClass.classes_id %>">
                      <%= gymClass.name %> - <%= gymClass.day %> - <%= gymClass.start %> (Spaces Left: <%= gymClass.spaces %>)
                  </option>
              <% }) %>
          </select>
      </p>
      <input type="submit" value="Book Class" />
  </form>
  </body>
</html>